:root {
    --scrollbar-width: 16px;
}

body.modal-open {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
}

.filter-page-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1004;
    left: 0;
    top: 0;
    background-color: var(--bg-overlay);
}

.filter-page {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 1rem;
    position: absolute;
    bottom: 0;
    height: 90%;
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.1);
}

.filter-page-scroll-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.filter-page-scrollable {
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem 3rem 1rem;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
}

.filter-page-scrollable,
.filter-page-scroll-wrapper,
.options {
  -webkit-tap-highlight-color: transparent; /* removes tap highlight */
  touch-action: manipulation; /* improves tap responsiveness */
}

.filter-page-scrollable::-webkit-scrollbar {
    width: 10px;
}

.filter-page-scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.filter-page-scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.filter-page-scroll-fade {
    content: '';
    position: absolute;
    bottom: 0; /* height of .filter-page-footer + spacing */
    left: 0;
    right: 0;
    height: 5rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    pointer-events: none;
    z-index: 2;
}

@media (min-width: 576px) {
    .filter-page {
        width: 576px;
        height: 80vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
}

.filter-page-header {
    padding: 1.5rem 0;
    margin-bottom: 0.25rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    border-bottom: 1px solid var(--neutral-light);
    font-size: 1.2rem;
    font-weight: bold;
}

.filter-page-subheading {
    font-weight: 600;
    text-align: left;
    padding: 2rem 0 1rem;
    font-size: 1rem;
}

.filter-page-title {
    font-weight: 600;
}

.close-filter-page {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background-color: inherit;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.filter-page-footer {
    position: sticky;
    margin-top: auto;
    bottom: 0;
    background-color: white;
    z-index: 3;
    padding: 1rem 0;
    border-top: 1px solid var(--neutral-light);
    margin-top: 0.25rem;
}

.clear-all-btn {
    padding-bottom: 1rem;
    width: 100%;
}

.clear-all-btn,
.clear-sort-btn,
.clear-filter-btn {
    background: none;
    border: none;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    font-size: 0.95rem;
}

.clear-sort-btn {
    margin-left: 1.5rem;
}

.clear-all-btn:hover,
.clear-sort-btn:hover,
.clear-filter-btn:hover {
    color: var(--primary);
}

.apply-filter-btn {
    width: 100%;
    background-color: black;
    color: white;
    padding: 0.75rem 1rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.apply-filter-btn:hover {
    background-color: var(--primary);
}