.select-container select {
    color: black;
    height: 3rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background: url('../../assets/images/chevron-down-solid.svg') no-repeat right 1rem center;
    background-size: 12px;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    border: 1px solid lightgray;
}