{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit | Wiki
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <input onclick="history.back()" type="submit" value="Go Back">
    <p>Title </br>{{ edit_form.title }}</br></br>
    Markdown Content </br> {{ edit_form.markdown_content }}</p>
    <form action="/wiki/{{ entry }}">
        <input onclick="for_approval()" type="submit" value="Save Changes">
    </form>
    <input onclick="not_authorized()" type="submit" name="delete" value="Delete Page">
{% endblock %}