.filter-page-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.filter-page {
    overflow: auto;
    padding: 0 1rem 2rem 1rem;
    position: relative;
    margin-top: 10vh;
    height: calc(101vh - 10vh);
    background-color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

@media (min-width: 576px) {
    .filter-page {
        width: 576px;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
}

.filter-page-header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background-color: inherit;
}

.filter-page-subheading {
    font-weight: 600;
    text-align: left;
    padding: 2rem 0 1rem 0;
}

.filter-page-title {
    font-weight: 600;
}

.close-filter-page {
    position: absolute;
    left: 0;
    background-color: inherit;
    border: none;
    border-radius: 100%;
}

@keyframes slideUp {
    from {
        top: 100;
    }
    to {
        top: 0;
    }
}

@keyframes slideDown {
    from {
        top: 0;
    }
    to {
        top: 100;
    }
}