:root {
  /* Color Variables */
  --neutral-dark: #484848;
  --neutral-light: #d0d0d0;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

img {
  max-height: 100%;
}

button {
  -webkit-color: black;
  -moz-color: black;
  color: black;
}

button:hover {
  cursor: pointer;
}

select, input[type='text'], button {
  font-size: 1rem;
  font-weight: normal;
  color: inherit;
}

select:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

main, .header-nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  padding: 1rem 1rem 6rem 1rem;
}

strong {
  font-weight: 600;
}

@media (min-width: 576px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header-nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.loading-spinner {
  font-size: 2rem;
  color: var(--neutral-dark);
  display: block;
  margin: 2rem auto;
  text-align: center;
}