.navbar-container {
    background-color: white;
    z-index: 2;
    border-bottom: 5px solid #484848;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.options-bar {
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .options-bar {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.nav-logo {
    padding-right: 10px;
}

.nav-logo img {
    height: 50px;
}

.nav-title {
    font-size: 0.9rem;
    font-weight: 600;
    padding-right: 20px;
    margin-right: auto;
    display: none;
}

@media (min-width: 576px) {
    .nav-logo img {
        height: 70px;
    }
    .nav-title {
        font-size: 1rem;
        display: block;
    }
}

@keyframes openSearch {
    from {
        height: 0px;
        margin: 0;
    }
    to {
        height: 3rem;
        margin: 1rem 0;
    }
}

@keyframes closeSearch {
    from {
        height: 3rem;
        margin: 1rem 0;
    }
    to {
        height: 0px;
        margin: 0;
    }
}