{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, JavaScript, Django, Java, git, Bootstrap, Python, Self-Taught, Engineer">
        <meta name="author" content="Marshall Heyda">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="title" property="og:title" content="Marshall's Coding Portfolio" />
        <meta property="og:type" content="Website" />
        <meta name="image" property="og:image" content="" />
        <meta name="description" property="og:description" content="Marshall's Coding Portfolio" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        <!-- Link to styles sheet -->
        <link rel="stylesheet" href="styles.css">

        <!-- Browser Icon -->
        <link href="https://api.iconify.design/vs/m-square.svg?color=%232A3132" rel="icon">

        <!-- Preload web fonts -->
        <link rel="preload" as="font">

        <title>Marshall's Portfolio</title>
    </head>
    <body>
        <!-- Navigation -->
        <div class="background-container dark" id="home">
            <div class="content-container home">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand plain-link text-align-center" href="#home">
                        <h4>MARSHALL HEYDA</h4>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span>
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav text-align-center">
                            <a class="nav-link light-text-link" href="#about">About</a>
                            <a class="nav-link light-text-link" href="#coursework">Coursework</a>
                            <a class="nav-link light-text-link" href="#projects">Projects</a>
                            <!-- <a class="nav-link light-text-link" href="#certificates">Certificates</a> -->
                            <a class="nav-link light-text-link" href="#skills">Skills</a>
                            <a class="nav-link light-text-link" href="#contact">Contact</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- About -->
        <div class="background-container" id="about">
            <div class="row no-gutters content-container light text-align-justify">
                <div class="col-md-16 col-lg-4 left-half-container text-align-center">
                    <img src="../static/portfolio/photos/Portrait 1 1000x1000.webp" class="self-portrait img-fluid text-padding-right" alt="Portrait of Marshall">
                </div>
                <div class="col-md-16 col-lg-8 right-half-container">
                    <div class="about-me text-align-center">
                        <h2 class="light-heading">Hi, I'm Marshall!</h2>
                        <h3 class="text-align-left">Thanks for visiting. Here's a little bit about me:</h3>
                        <ul class="text-align-left">
                            <li>
                                I am a master's student in <strong>computer science</strong> at <strong>Georgia Tech</strong> with an expected graduation date of December 2024
                            </li>
                            <li>
                                In 2023 I interned at both <strong>Amazon</strong> and <strong>Leidos</strong>, where I gained agile software development experience in <strong>web development</strong> and <strong>big data</strong>
                            </li>
                            <li>
                                Through experience with internships, school, and personal projects, I'm proficient in <strong>Python</strong>, <strong>TypeScript/JavaScript</strong>, <strong>AWS</strong>, 
                                <strong>Git</strong>, and many more technologies, including web development tools like <strong>Django</strong> and <strong>ReactJS</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Script for Read More/Read Less -->
        <script>
            var readMore = document.getElementById("read-more");

                readMore.addEventListener("click", function() {
                this.classList.toggle("read-less");
                var content = this.previousElementSibling;
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                  this.ariaLabel = "Read More";
                } else {
                  content.style.maxHeight = content.scrollHeight + "px";
                  this.ariaLabel = "Read Less";
                } 
                });
        </script>

        <!-- Coursework -->
        <div class="background-container light text-align-center" id="coursework">
            <div class="content-container gray">
                <h2 class="dark-heading">
                    Graduate Coursework
                    <br>
                    <div style="font-size: 20px; padding: 0.5rem;">
                        MSCS @ Georgia Tech
                        <br>
                        Expected December 2024
                    </div>
                </h2>
                <div class="row align-items-start no-gutters skills-content">
                    <a href="https://omscs.gatech.edu/cs-6515-intro-graduate-algorithms" target="_blank" aria-label="Georgia Tech Intro to Graduate Algorithms" rel="noreferrer" class="dark-icon-link col-sm-1 skills-col">
                        <span class="iconify light-icon" data-icon="ph:graph-bold"></span>
                        <br>
                        Graduate Algorithms
                    </a>
                    <a href="https://omscs.gatech.edu/cs-6200-introduction-operating-systems" target="_blank" aria-label="Georgia Tech Intro to Operating Systems" rel="noreferrer" class="dark-icon-link col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="fa:gears"></span>
                        <br>
                        Operating Systems
                    </a>
                    <a href="https://omscs.gatech.edu/cs-6290-high-performance-computer-architecture" target="_blank" aria-label="Georgia Tech High Performance Computer Architecture" rel="noreferrer" class="dark-icon-link col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="jam:microchip"></span>
                        <br>
                        High Performance <br> Computer Architecture
                    </a>
                    <a href="https://omscs.gatech.edu/cs-6250-computer-networks" target="_blank" aria-label="Georgia Tech Computer Networks" rel="noreferrer" class="dark-icon-link col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="mynaui:globe"></span>
                        <br>
                        Computer Networks
                    </a>
                    <a href="https://omscs.gatech.edu/cs-6035-introduction-to-information-security" target="_blank" aria-label="Georgia Tech Intro to Information Security" rel="noreferrer" class="dark-icon-link col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="mdi:security-lock"></span>
                        <br>
                        Information Security
                    </a>
                    <a href="https://omscs.gatech.edu/cs-7646-machine-learning-trading" target="_blank" aria-label="Georgia Tech Machine Learning for Trading" rel="noreferrer" class="dark-icon-link col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="eos-icons:machine-learning"></span>
                        <br>
                        Machine Learning for Trading
                    </a>
                    <a href="https://omscs.gatech.edu/cs-7638-robotics-ai-techniques" target="_blank" aria-label="Georgia Tech Robotics: AI Techniques" rel="noreferrer" class="dark-icon-link col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="mdi:head-cog"></span>
                        <br>
                        Robotics: AI Techniques
                    </a>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="background-container text-align-center" id="projects">
            <div class="content-container projects light">
                <h2 class="light-heading">Personal Projects</h2>
                <!-- First Project-->
                <div class="row align-items-center no-gutters even">
                    <div class="col-md-12 col-lg-6">
                        <div class="project-description">
                            <h3>National Park Explorer</h3>
                            <p><strong>React, Redux, Django, PostgreSQL, HTML, and CSS</strong></p>
                            <p class="text-align-justify">
                                Knowing the mental and physical benefits of getting outside, I wanted to develop a web app that would 
                                allow people to get inspired by America's national parks. This fully responsive full-stack web app consumes 
                                three REST APIs from the 
                                National Park Service, OpenWeatherMap, and Leaflet to display information and weather data about 
                                national parks in both list and map format. Parks can be searched for, sorted, and filtered by multiple 
                                criteria so users can find parks more relevant to their interests. Additionally, to make the app more 
                                personalized, users can also sign up for an account to save their favorite parks to their profile for 
                                future reference.
                            </p>
                            <a href="https://github.com/mheyda/national-park-explorer" target="_blank" rel="noreferrer" class="dark-button">GitHub Repo</a>
                            <a href="https://mheyda-national-park-explorer.netlify.app/" target="_blank" rel="noreferrer" class="light-button">Live Demo</a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <img src="../static/portfolio/editing-images/National Park Explorer Cover Image Square.jpg" class="img-fluid project-photos" alt="Screenshot of National Park Explorer Application Map">
                    </div>
                </div>

                <!-- Second Project-->
                <div class="row align-items-center no-gutters odd">
                    <div class="col-md-12 col-lg-6">
                        <img src="../static/portfolio/photos/Print Store Cover Photo.webp" class="img-fluid project-photos" alt="Screenshot of Photography Ecommerce Application">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="project-description">
                            <h3>Photography Ecommerce</h3>
                            <p><strong>React, Redux, HTML, and CSS</strong></p>
                            <p class="text-align-justify">
                                As a hobbyist photographer, I wanted to practice my frontend skills by developing 
                                a simple and fully responsive ecommerce app for photography prints. 
                                The project was originally built with plain JavaScript, HTML, and CSS, but was 
                                later converted into a React and Redux application for better organization and maintainability.
                            </p>
                            <p class="text-align-justify">
                                The app provides users a full shopping experience, allowing them to adjust their cart at every 
                                step along the way. Primary functionality is listed below.
                                <ul class="text-align-left">
                                    <li>Add, update, and remove items from cart</li>
                                    <li>Pull product data from a local JSON file</li>
                                    <li>Image carousel and modal box for users to view all images for a product</li>
                                </ul>
                            </p>
                            <a href="https://github.com/mheyda/print-store" target="_blank" rel="noreferrer" class="dark-button">GitHub Repo</a>
                            <a href="https://mheyda-print-store.netlify.app" target="_blank" rel="noreferrer" class="light-button">Live Demo</a>
                        </div>
                    </div>
                </div>

                <!-- Third project -->
                <div class="row align-items-center no-gutters even">
                    <div class="col-md-12 col-lg-6">
                        <div class="project-description">
                            <h3>List Maker</h3>
                            <p><strong>React, HTML, and CSS</strong></p>
                            <p class="text-align-justify">
                                As someone who constantly makes lists—whether it's a to-do list, grocery list, or trip checklist—I 
                                wanted to build a web application for this purpose. The end result is a classic CRUD application for
                                making checklists built with React, HTML, and CSS that allows users to sort 
                                and filter their lists based on desired criteria. 
                            </p>
                            <p class="text-align-justify">
                                The greatest challenge I faced while building my first React project was learning how to properly update 
                                state variables using hooks. At times I struggled to understand why certain components were not re-rendering 
                                when I expected them to, but I learned a lot and gained confidence as I progressed through the project.
                            </p>
                            <a href="https://github.com/mheyda/marshalls-list-maker" target="_blank" rel="noreferrer" class="dark-button">GitHub Repo</a>
                            <a href="https://mheyda-list-maker.netlify.app/" target="_blank" rel="noreferrer" class="light-button">Live Demo</a>
                        </div>
                    </div>
                    <div class="col-md-16 col-lg-6">
                        <img src="../static/portfolio/photos/List App Cover Photo.webp" class="img-fluid project-photos" alt="Screenshot of Wiki Application">
                    </div>
                </div>

                <!-- Fourth Project-->
                <div class="row align-items-center no-gutters odd">
                    <div class="col-md-16 col-lg-6">
                        <img src="../static/portfolio/photos/Wiki Cover Photo.webp" class="img-fluid project-photos" alt="Screenshot of Wiki Application">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="project-description">
                            <h3>Wiki App</h3>
                            <p><strong>Python/Django, HTML, and CSS</strong></p>
                            <p class="text-align-justify">A wiki-style CRUD application made with Django using 
                                Python, HTML, and CSS. Functionality includes viewing, creating, editing, and deleting 
                                wiki entries, searching for entries, and selecting a page at random. 
                                <br>
                                <br>
                                The app is deployed on Heroku where a live demo version can be viewed.
                                Note: functionality has intentionally been limited for the demo.
                            </p>
                            <a href="https://github.com/mheyda/cs50w-wiki" target="_blank" rel="noreferrer" class="dark-button">GitHub Repo</a>
                            <a href="https://mheyda-cs50w-wiki-demo.herokuapp.com/" target="_blank" rel="noreferrer" class="light-button">Live Demo</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Skills -->
        <div class="background-container light text-align-center" id="skills">
            <div class="content-container gray">
                <h2 class="dark-heading">Skills</h2>
                <div class="row align-items-start no-gutters skills-content">
                    <div class="col-sm-1 skills-col">
                        <i class="fab fa-bootstrap light-icon skills-icon"></i>
                        <br>
                        Bootstrap
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-solid fa-c light-icon skills-icon"></i>
                        <br>
                        C
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-solid fa-chart-simple light-icon skills-icon"></i>
                        <br>
                        ChartJS
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-brands fa-confluence light-icon skills-icon"></i>
                        <br>
                        Confluence
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fab fa-css3-alt light-icon skills-icon"></i>
                        <br>
                        CSS
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="mdi:language-cpp"></span>
                        <br>
                        C++
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="simple-icons:django"></span>
                        <br>
                        Django
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-brands fa-figma light-icon skills-icon"></i>
                        <br>
                        Figma
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fab fa-git-alt light-icon skills-icon"></i>
                        <br>
                        Git
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fab fa-github light-icon skills-icon"></i>
                        <br>
                        GitHub
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-brands fa-gitlab light-icon skills-icon"></i>
                        <br>
                        GitLab
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="cib:heroku"></span>
                        <br>
                        Heroku
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fab fa-html5 light-icon skills-icon"></i>
                        <br>
                        HTML
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-brands fa-js light-icon skills-icon"></i>
                        <br>
                        JavaScript
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-brands fa-jira light-icon skills-icon"></i>
                        <br>
                        Jira
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="simple-icons:mariadb"></span>
                        <br>
                        MariaDB
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="cib:netlify"></span>
                        <br>
                        Netlify
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="akar-icons:postgresql-fill"></span>
                        <br>
                        PostgreSQL
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="simple-icons:pytest"></span>
                        <br>
                        pytest
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fab fa-python light-icon skills-icon"></i>
                        <br>
                        Python
                    </div>
                    <div class="col-sm-1 skills-col">
                        <i class="fa-brands fa-react light-icon skills-icon"></i>
                        <br>
                        React
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="akar-icons:redux-fill"></span>
                        <br>
                        Redux
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="mdi:responsive"></span>
                        <br>
                        Responsive Design
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="file-icons:sqlite"></span>
                        <br>
                        SQLite
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="cib:typescript"></span>
                        <br>
                        TypeScript
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="simple-icons:virtualbox"></span>
                        <br>
                        VirtualBox
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="carbon:logo-vmware"></span>
                        <br>
                        VMware
                    </div>
                    <div class="col-sm-1 skills-col">
                        <span class="iconify light-icon skills-icon" data-icon="akar-icons:vscode-fill"></span>
                        <br>
                        VS Code
                    </div>
                </div>
            </div>
        </div>

        <!-- Certificates -->
        <!-- 
        <div class="background-container text-align-center" id="certificates">
            <div class="content-container gray">
                <h2 class="dark-heading">Certificates</h2>
                <div class="row align-items-center no-gutters certificates">
                    <div class="col-sm-12 col-lg-6 certificates-col">
                        <div class="certificates-content text-align-left">
                            <img class="certificates-image" src="../static/portfolio/photos/codecademy-logo.webp" alt="Codecademy Logo">
                            <h3 class="text-align-left certificates-title"><strong>Create an Advanced Web App with React and Redux</strong></h3>
                            <span>
                                <a href="https://www.codecademy.com/profiles/board1116828090/certificates/60198396cd6fb3000e88e8e4" target="_blank" rel="noreferrer" class="plain-text-link">View Certificate</a>
                                <br>
                            </span>
                            Topics Covered: JSX, Components, State, Hooks, Redux Core Concepts, Redux Toolkit, Middleware, Thunks, Deployment
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 certificates-col">
                        <div class="certificates-content text-align-left">
                            <img class="certificates-image" src="../static/portfolio/photos/codecademy-logo.webp" alt="Codecademy Logo">
                            <h3 class="text-align-left certificates-title"><strong>Learn TypeScript</strong></h3>
                            <span>
                                <a href="https://www.codecademy.com/profiles/board1116828090/certificates/56fb1e71303e37b643bb1905f31c8a09" target="_blank" rel="noreferrer" class="plain-text-link">View Certificate</a>
                                <br>
                            </span>
                            Topics Covered: Types, Functions, Complex Types, Union Types, Type Narrowing, Advanced Object Types
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 certificates-col">
                        <div class="certificates-content text-align-left">
                            <img class="certificates-image" src="../static/portfolio/photos/codecademy-logo.webp" alt="Codecademy Logo">
                            <h3 class="text-align-left certificates-title"><strong>Learn Intermediate JavaScript</strong></h3>
                            <span>
                                <a href="https://www.codecademy.com/profiles/board1116828090/certificates/512386fdc7f6c934f98b01e6afa8285a" target="_blank" rel="noreferrer" class="plain-text-link">View Certificate</a>
                                <br>
                            </span>
                            Topics Covered: Classes, Modules, Promises, Async-Await, Requests, Error Handling, Best Practices
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 certificates-col">
                        <div class="certificates-content text-align-left">
                            <img class="certificates-image" src="../static/portfolio/photos/gtpe-logo.webp" alt="Georgia Tech Professional Education Logo">
                            <h3 class="text-align-left certificates-title"><strong>Data Structures & Algorithms</strong></h3>
                            <span>
                                <a href="https://courses.edx.org/certificates/b57155fcfc2d4796869efe02869a084c" target="_blank" rel="noreferrer" class="plain-text-link">Part I:</a>
                                ArrayLists, LinkedLists, Stacks, Queues<br>
                            </span>
                            <span>
                                <a href="https://courses.edx.org/certificates/1ab09f816bc245299f530465e763a1c0" target="_blank" rel="noreferrer" class="plain-text-link">Part II:</a>
                                Binary Trees, Heaps, SkipLists, HashMaps<br>
                            </span>
                            <span>
                                <a href="https://courses.edx.org/certificates/7861078605de4d9fba069e4fd737915e" target="_blank" rel="noreferrer" class="plain-text-link">Part III:</a>
                                AVL and 2-4 Trees, Divide and Conquer Algorithms<br>
                            </span>
                            <span>
                                <a href="https://courses.edx.org/certificates/7399a775489d4e7abdc1d79db4327924" target="_blank" rel="noreferrer" class="plain-text-link">Part IV:</a>
                                Pattern Matching, Dijkstra's, MST, Dynamic Programming Algorithms<br>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 certificates-col">
                        <div class="certificates-content text-align-left">
                            <img class="certificates-image" src="../static/portfolio/photos/gtpe-logo.webp" alt="Georgia Tech Professional Education Logo">
                            <h3 class="text-align-left certificates-title"><strong>Introduction to Object-Oriented Programming with Java</strong></h3>
                            <span>
                                <a href="https://courses.edx.org/certificates/56cea7eba7f04c4b8c0173c1d838bef5" target="_blank" rel="noreferrer" class="plain-text-link">Part I:</a>
                                Foundations and Syntax Basics<br>
                            </span>
                            <span>
                                <a href="https://courses.edx.org/certificates/b4881f52f361425b9cb3390a462cab5c" target="_blank" rel="noreferrer" class="plain-text-link">Part II:</a>
                                Object-Oriented Programming and Algorithms<br>
                            </span>
                            <span>
                                <a href="https://courses.edx.org/certificates/a44bb1466ac647a5ba268da4715c5268" target="_blank" rel="noreferrer" class="plain-text-link">Part III:</a>
                                Exceptions, Data Structures, Recursion, and GUIs<br>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 certificates-col">
                        <div class="certificates-content text-align-left">
                            <img class="certificates-image" src="../static/portfolio/photos/harvard-logo.webp" alt="Harvard University Logo">
                            <h3 class="text-align-left certificates-title"><strong>CS50: Introduction to Computer Science</strong></h3>
                            <span>
                                <a href="https://certificates.cs50.io/bc6807c5-38ad-4848-a239-ba20617aabed" target="_blank" rel="noreferrer" class="plain-text-link">View Certificate</a>
                                <br>
                            </span>
                            Topics Covered: C, Arrays, Algorithms, Memory, Data Structures, Python, SQL, HTML, CSS, JavaScript, Flask, Security, Artificial Intelligence
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!-- Footer -->
        <footer class="background-container dark text-align-center" id="contact">
            <div class="content-container footer-flex">
                <div class="footer-left">
                    <p>
                        <h2>Let's Connect!</h2>
                        Send me an email or find me on social media at the links below.
                    </p>
                    <br>
                    <p>
                        <a class="accent-button" href="mailto:marshallheyda@gmail.com">Send Me an Email</a>
                    </p>
                    <a href="https://www.linkedin.com/in/marshallheyda/" target="_blank" aria-label="Marshall's LinkedIn" rel="noreferrer" class="light-icon-link">
                        <i class="fa fa-linkedin footer-icon" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/mheyda" target="_blank" aria-label="Marshall's Github" rel="noreferrer" class="light-icon-link">
                        <i class="fa fa-github footer-icon" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="footer-right">
                    <a class="light-text-link footer-link" href="#home">Home</a>
                    <a class="light-text-link footer-link" href="#about">About</a>
                    <a class="light-text-link footer-link" href="#coursework">Coursework</a>
                    <a class="light-text-link footer-link" href="#projects">Projects</a>
                    <!-- <a class="light-text-link footer-link" href="#certificates">Certificates</a> -->
                    <a class="light-text-link footer-link" href="#skills">Skills</a>
                    <a class="light-text-link footer-link" href="#contact">Contact</a>
                    <br>
                </div>
            </div>
            <div class="copyright dark">
                © Marshall Heyda <span id="year"></span>. All rights reserved.
                <script>
                    var date = new Date().getFullYear();
                    document.getElementById("year").innerHTML = date;
                </script>
            </div>
        </footer>
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/a7e713de55.js" crossorigin="anonymous"></script>

        <!-- Iconify library -->
        <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>