body {
    margin: 0;
    width: 98vw;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.sidebar {
    background-color: #f0f0f0;
    min-height: 100vh;
    padding: 0px 20px 20px 30px;
}

@media (max-width: 991px) {
    .sidebar {
        font-size: 1.8rem;
    }
    .sidebar h1 {
        font-size: 3.5rem;
    }
    .main {
        font-size: 1.8rem;
    }
    .main > h1 {
        font-size: 3.5rem;
    }
    .main ul a {
        width: 15rem;
        height: 5rem;
    }
    .main li {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    ul {
        padding-right: 25vw;
    }
    .search {
        width: fit-content;
    }
}


.main {
    padding: 0px 20px 20px 20px;
}

.search {
    padding-top: 5px;
}

a {
    color: #4285F4;
}

input[type=text] {
    border: 1px solid black;
    border-radius: 3px;
}
textarea {
    border: 1px solid black;
    border-radius: 3px;
    height: 15rem;
    width: 80%;
}

input[type=submit] {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    transition: 0.2s;
}
input[type=submit]:hover {
    color: white;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 3px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul > a {
    display: inline-flex;
    border-radius: 3px;
    background-color: #4285F4;
    width: 10rem;
    height: 3rem;
    margin: 5px 5px 5px 0px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
ul > a:hover {
    text-decoration: none;
    opacity: 0.7;
}
a > li {
    color: white;
    font-size: 1.2rem;
}

i {
    color: #4285F4;
}

.home {
    color: black;
}
.home:hover {
    text-decoration: none;
    color: black;
}