.navbar-container {
    background-color: white;
    z-index: 1;
}

.navbar {
    background-size: cover;
    background-position: center;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 75px;
    padding: 5px;
}

.nav-title {
    text-align: right;
    font-size: 1.5rem;
    color: #5c5c5c;
}   

.nav-links {
    display: flex;
}

.nav-link {
    padding: 0.5rem 0;
    text-align: center;
    width: 50%;
}