
/* Main */
html, body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--neutrallight);
}
h2 {
    padding-bottom: 1.5rem;
}

/* Containers */
.background-container {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
}
.content-container {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    margin: 0;
}
.left-half-container {
    height: fit-content;
}
.right-half-container {
    height: fit-content;
}

/* Color variables */
:root {
    --neutrallight: #F7F7F7;
    --neutralgray: #EBEBEB;
    --accentlight: #A5C3CF;
    --accentdark: #336B87;
    --neutraldark: #2A3132;
}

/* Links */
.plain-link {
    color: inherit;
}
.plain-link:hover {
    color: inherit;
    text-decoration: none;
}
.plain-text-link {
    color: #006de2;
}
.plain-text-link:hover {
    color: var(--neutraldark);
    text-decoration: none;
}
.dark-text-link {
    color: var(--neutraldark);
    text-decoration: none;
}
.dark-text-link:hover {
    color: var(--accentdark);
    text-decoration: underline;
}
.light-text-link {
    color: var(--neutrallight);
    text-decoration: none;
}
.light-text-link:hover {
    color: var(--accentlight);
    text-decoration: underline;
}
.dark-icon-link {
    color: var(--neutraldark);
    text-decoration: none;
}
.dark-icon-link:hover {
    color: var(--accentdark);
    text-decoration: none;
}
.light-icon-link {
    color: var(--neutrallight);
    text-decoration: none;
}
.light-icon-link:hover {
    color: var(--accentlight);
    text-decoration: none;
}
.dark-button {
    color: var(--neutrallight);
    background-color: var(--neutraldark);
    border: 1px solid var(--neutraldark);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.dark-button:hover {
    opacity: 1;
    text-decoration: none;
    color: var(--neutraldark);
    background-color: var(--neutrallight);
    border: 1px solid var(--neutraldark);
}
.light-button {
    color: var(--neutraldark);
    background-color: var(--neutrallight);
    border: 1px solid var(--neutraldark);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.light-button:hover {
    opacity: 1;
    text-decoration: none;
    color: var(--neutrallight);
    background-color: var(--neutraldark);
    border: 1px solid var(--neutraldark);
}
.accent-button {
    color: var(--neutrallight);
    background-color: var(--neutraldark);
    border: 1px solid var(--neutrallight);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.accent-button:hover {
    opacity: 1;
    text-decoration: none;
    color: var(--neutraldark);
    background-color: var(--neutrallight);
    border: 1px solid var(--neutrallight);
}

/* Color themes */
.dark {
    color: var(--neutrallight);
    background-color: var(--neutraldark);
}
.light {
    color: var(--neutraldark);
    background-color: var(--neutrallight);
}
.gray {
    color: var(--neutraldark);
    background-color: var(--neutralgray);
}

/* Alignment Classes */
.text-align-center {
    text-align: center;
}
.text-align-justify {
    text-align: justify;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

/* -------------- Custom sections ------------------- */

/* Home section */
.home {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar-toggler {
    border: 3px solid var(--neutrallight);
    color: var(--neutrallight);
    background-color: var(--neutraldark);
    font-size: 28px;
}
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    border: 3px solid var(--neutrallight);
}
.nav-link {
    font-size: 1.2rem;
    transition: 0s;
}
.nav-link:hover {
    color: var(--accentlight);
}
.navbar-brand h4{
    font-size: 1.4rem;
    margin: 0;
}
.navbar {
    padding: 0;
    display: flex;
}

/* About section */
.self-portrait {
    width: 50vw;
    height: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.more-about-me {
    margin-bottom: 1rem;
    margin-top: -1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.read-more {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.read-more:after {
    content: 'Read More';
}
.read-less:after {
    content: "Read Less";
}

/* Skills section */
.skills-col {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;
    max-width: 100vw;
    width: 7rem;
}
.skills-icon {
    font-size: 3rem;
}
.iconify {
    font-size: 2.6rem;
}

/* Projects section */
.projects {
    padding-bottom: 0;
}
.project-description {
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.project-photos {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 0.5rem;
    width: 100%;
}
.even {
    flex-direction: column-reverse;
}

/* Certificates section */
.certificates {
    display: flex;
    margin-left: 0rem;
    margin-right: 0rem;
}
.certificates-col {
    margin: auto;
}
.certificates-title {
    font-size: 1.4rem;
}
.certificates-content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--neutrallight);
    margin: 0.5rem;
    padding: 1rem;
}
.certificates-image {
    height: 32px;
    text-align: left;
    margin-bottom: 0.5rem;
}

/* Footer section */
.footer-icon {
    font-size: 1.4rem;
    padding: 0.5rem;
}

footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.footer-link {
    width: fit-content;
    display: block;
    margin: auto;
    padding: 0.5rem;
}
.footer-left {
    padding-bottom: 1rem;
}
.footer-right {
    border-top: 2px solid var(--neutrallight);
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}
.copyright {
    display: block;
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

/* Responsiveness */
@media (min-width: 576px) {
    .navbar-brand h4 {
        font-size: 2rem;
    }
    .certificates-image {
        height: 55px;
    }
}
@media (min-width: 768px) {
    .project-photos {
        width: 60%;
    }
}
@media (min-width: 992px) {
    .even {
        flex-direction: row;
    }
    .text-padding-left {
        padding-left: 1rem;
    }
    .text-padding-right {
        padding-right: 1rem;
    }
    .navbar-nav {
        margin-left: auto;
    }
    .nav-link {
        margin-left: 2rem;
    }
    .about-me h2 {
        text-align: left;
    }
    .self-portrait {
        width: auto;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .skills-col {
        width: 10rem;
    }
    .projects {
        padding-bottom: 2.5rem;
    }
    .project-photos {
        width: 100%;
    }
    .project-description {
        text-align: center;
        padding-bottom: 1rem;
    }
    .certificates-content {
        height: 16rem;
    }
    .footer-flex {
        display: flex;
    }
    .footer-link {
        margin-left: 0;
    }
    .footer-left {
        width: 60%;
    }
    .footer-right {
        border-top: none;
        border-left: 2px solid var(--neutrallight);
        width: 40%;
        text-align: left;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        padding-left: 2rem;
    }
}
@media (min-width: 1200px) {
    .content-container {
        width: 1150px;
        margin: auto;
    }
}



.row > img {
    padding-left: 0;
}