/* Explore Container */
.explore {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 12vh;
}

/* Filter bar */
.filter-bar {
    display: flex;
    align-items: center;
}

.search-result-string {
    margin-right: 15px;
}

.search-result-clear {
    border: none;
    background-color: inherit;
    text-decoration: underline;
}

.filter-btn {
    height: 2.5rem;
    border-radius: 10px;
    padding: 0 0.5rem;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
    margin-left: auto;
    font-size: 0.8rem;
    flex-shrink: 0;
}

.filter-btn.active {
    background-color: #484848;
    color: white;
}

/* Filter bar map */
.search-result-string.map {
    border: 2px solid rgba(0,0,0,0.2);
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    word-wrap: break-word;
}

.search-result-clear.map {
    font-size: 0.8rem;
    text-align: center;
    width: fit-content;
    max-width: 45vw;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    text-decoration: none;
}

.filter-btn.map {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 2;
    border: 2px solid rgba(0,0,0,0.2);
}

.filter-btn.map.active {
    background-color: white;
    color: black;
}


/* Tiles */
.explore-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 2rem;
    padding-top: 1rem;
}

.explore-tile {
    position: relative;
}

.explore-tile-img-container {
    position: relative;
}

.explore-tile-img-container::before {
    content: '';
    display: block;
    padding-top: 100%;
}
  
.explore-tile-img-container .explore-tile-img {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}

.explore-tile-img {
    object-fit: cover;
    -webkit-border-radius: 5%;
    border-radius: 5%;
    overflow: hidden;
    isolation: isolate;
}

.explore-tile-content {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 75% 25%;
    font-weight: 600;
}

.explore-tile-title {
    text-align: left;
}

.explore-tile-states {
    text-align: right;
}

.park-toggle-favorite {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}

.park-toggle-favorite:hover > i {
    font-size: 28px;
    transform: translate(2px, -2px);
}

.park-toggle-favorite > i {
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
    stroke: 1px white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.park-toggle-favorite > i.selected {
    color: crimson;
}

@media (min-width: 576px) {
    .explore-tiles {
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }
}

@media (min-width: 992px) {
    .explore-tiles {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (min-width: 1200px) {
    .explore-tiles {
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
}
