/* Map */
.map-container { 
    position: relative;
    max-width: 100vw;
    /* If header or footer navbar height changes, change this */
    height: calc(100vh - 75px - 75px);
    z-index: 0;
}

@media (min-width: 576px) {
    .map-container { 
        height: calc(100vh - 96px - 75px);
    }
}

@media (min-width: 768px) {
    .map-container {
        height: calc(100vh - 96px);
    }
}

.leaflet-popup-content-wrapper {
    background: none;
    padding: 0;
}

.leaflet-popup-content {
    width: 300px;
    margin: 0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    isolation: isolate;
    position: relative;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: white;
}

.popup-container {
    cursor: pointer;
}

.popup-img-container {
    height: 200px;
    width: 100%;
    background-color: #dedede;
}

.popup-content {
    display: grid;
    grid-template-columns: 75% 25%;
    font-weight: 600;
    background-color: white;
    padding: 0.5rem;
}

.popup-content > p {
    margin: 0;
}

.popup-states {
    text-align: right;
}

@media (min-width: 768px) {
    .explore {
        flex-direction: row;
    }
}