
.view-btn {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    border: none;
    border-radius: 1000px;
    padding: 15px 20px;
    transition: 0.1s;
}

@media (min-width: 768px) {
    .view-btn {
        bottom: 3rem;
    }
}

.view-btn:hover {
    padding: 17px 22px;
    transform: translate(-50%, 1px);
}

.view-btn i {
    padding: 5px;
}