.park {
  display: grid;
  grid-template-columns: minmax(100%, 1fr);
  grid-column-gap: 1rem;
}

.park-img-container {
  height: 75vw;
}

.park-img {
  height: 100%;
}

.park-section {
  padding-top: 1rem;
  position: relative;
}

.park-weather {
  display: grid;
  grid-template-columns: minmax(100%, 1fr);
  grid-row-gap: 2rem;
  text-align: center;
  padding: 1rem 0;
}

@media (min-width: 576px) {
  .park-weather {
    grid-template-columns: minmax(30%, 1fr) minmax(70%, 1fr);
    height: 200px;
  }
  .weather-current-container {
    border-right: 2px solid black;
  }
  .weather-7day-item {
    display: grid;
    grid-template-columns: minmax(35%, 1fr) minmax(40%, 1fr) minmax(25%, 1fr);
    align-items: center;
  }
}

@media (min-width: 992px) {
  .park {
    grid-template-columns: minmax(55%, 1fr) minmax(45%, 1fr);
    grid-gap: 2rem;
  }
  .park-img-container {
    position: relative;
    height: 40vw;
    max-height: 60vh;
  }
}

