.visited-title {
    text-align: center;
    padding-bottom: 2rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
}

.empty-message {
    padding-top: 2rem;
    text-align: center;
}