.weather-current-container {
    position: relative;
    height: 35%;
}

.weather-current-icon {
    padding-top: 1rem;
    margin-top: -24px;
    margin-bottom: -24px;
}

.weather-current-temp-main {
    font-size: 26px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .weather-current-content {
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        width: 100%;
    }
}