.temp-format-toggler {
    border: 0px solid black;
    border-radius: 100000px;
    overflow: hidden;
    background-color: #cfcfcf;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.active-temp-format-toggler {
    color: white;
    background-color: #363636;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.temp-format-toggler i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}